[SddmGreeterTheme]
Name=FBP OS
Description=Clean and simple theme with no frills forked from zust.
Screenshot=screenshot.png
Website=https://github.com/FilmaBem2/sddm-fbpos
Author=Filma Bem
Copyright=(c) 2022, Filma Bem
License=MIT
Version=1.0.0
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=fbpos-theme
Theme-API=2.2
